<h2>New Ferret</h2>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add A New Ferret</h3>
  </div>
  <div class="panel-body">
    <form action="/ferrets" method="POST">
      <input type="text" name="name" placeholder="Name:"><br><br>
      <input type="text" name="age" placeholder="Age:"><br><br>
      <input type="text" name="color" placeholder="Color:"><br><br>
      <input type="text" name="sex" placeholder="Sex:"><br><br>
      <input type="text" name="weight" placeholder="Weight:"><br><br>
      <input class="btn btn-primary" type="submit" value="submit">
    </form>
  </div>
</div>
