<div class="container center">
  <h1>Welcome, <%= current_user.username %>!</h1>
  <hr>
  <h2>Ferrets Currently In My Business</h2>

  <% @ferrets.each do |ferret| %>
    <div>
      <%= ferret.name %>
    </div>
  <% end %>
</div>
