<div class="jumbotron center">
  <h1>Ferret Tracker</h1>
  <h2>Welcome to my Ferret Tracking App!</h2>
  <p>
    Keep track of all the important details of each of your ferrets, such as name, age, color, sex and weight.
  </p>
</div>
