<div class="jumbotron center">
  <h1>Welcome</h1>
  <h2>to the</h2>
  <h1>Ferret Business Tracking App!</h1>
  <img src="./images/ferret.png" alt="Cartoon Ferret" class="ferret"/><br>
  <% if logged_in? %>
    <h2>Welcome Back, <%=current_user.username %>!!</h2>
  <% else %>
    <a class="btn btn-primary" href="/signup">Sign Up</a>
    <a class="btn btn-default" href="/login">Log In</a>
  <% end %>
</div>
