<!doctype html>
<html>
  <head>
    <title>Ferret Tracker</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="./stylesheets/normalize.css">
    <link rel="stylesheet" href="./stylesheets/style.css">
  </head>
  <body>
    <nav class="navbar navbar-default" id="navigation">
      <div class="container-fluid">
        <a class="navbar-brand" href="/ferrets">Ferret Tracker</a>
          <ul class="nav navbar-nav navbar-right">
              <% if logged_in? %>
                <li><a href="/ferrets">My Ferrets</a></li>
                <li><a href="/ferrets/add_ferret">Create Ferret</a></li>
                <li><a href="/logout">Log Out</a></li>
              <% else %>
                <li><a href="/signup">Sign Up</a></li>
                <li><a href="/login">Log In</a></li>
              <%end %>
          </ul>
      </div>
    </nav>
    <div class="container">

      <%= yield %>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
    <footer class="footer navbar-fixed-bottom center" id="footer">
       <div class="container">
         © 2016 Developed with &#128153; by Sandy Hogan
       </div>
  </footer>
</html>
